<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>View Blog</title>
</head>
<body>
    <div class="navBar">
        <div class="logo"><img src="/images/mystic-logo.png" alt="web-logo"></div>
        <div class="blogs">My Blogs</div>
    </div>

        <% if(locals.blog) { %>
            <form id="editBlog" method="post" action="/blog/edit/<% blog.id %>">
                <div class="container">
                    <div class="view-post post">
                     <input type="text" name="title" value="<% blog.title %>">
                     <textarea name="content" value="<% blog.content %>" rows="10"></textarea>
                     <input type="text" name="author" value="<% blog.author %>">
                     <button class="sub-button">Save</button>
                     <% submit %>
                    </div>
                 </div>
            </form>
            <% } else { %>
                <form id="newBlog" method="post" action="/blog/new/<% blog.id %>">
                    <div class="container">
                        <div class="view-post post">
                            <input type="text" name="title" placeholder="Blog-Title">
                            <textarea name="content" placeholder="write your blog here...."></textarea>
                            <input type="text" name="author" placeholder="author's name">
                            <button class="sub-button">Save</button>
                            <% submit %>
                        </div>
                    </div>
                </form>
                <% } %>
</div>
</body>
</html>
