
* {
  margin: 0;
  padding: 0;
  color: #2b2d42;
}

body {
  background-color: #8b416a;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Indie Flower', cursive;
   position: relative;
}

.nav {
  height: 100px;
  width: 90%;
  margin: 10px 0 50px 0;
  background-color: #8d99ae;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgb(15, 53, 84);
  border-radius: 5rem;
  font-weight: bold;
  position: sticky;
  top: 0px;
}

footer {
  font-size: 1rem;
  align-self: start;
  margin: 5rem;
}


#home {
  text-decoration: none;
  font-size: 1.5rem;
}

.nav > h1 {
  font-size: 3.5rem;
}

.reset {
  font-size: 1.5rem;
  width: 8rem;
  text-align: center;
}

.container {
  background-color: white;
  display: grid;
  height: 40rem;
  border: 5px solid rgb(200, 132, 200);
  border-radius: 1rem;
  width: 90%;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

.winner {
  grid-column: span 3;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.info {
  text-align: center;
  border: 5px solid rgb(15, 53, 84);
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #8d99ae;
}

.dice {
  border: 5px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #8d99ae;
}

.play {
  background-color: rgb(191, 28, 28);
  margin: 2rem;
  height: 3rem;
  width: 10rem;
  font-size: 2rem;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 5rem;
}

.highscore {
  text-align: center;
  background-color: #8d99ae;
  border: 5px solid rgb(15, 53, 84);
  border-radius: 1rem;
  margin-top: 1rem;
}

.dice1 {
  border: 2px solid red;
  margin: 1rem;
  height: 15rem;
  width: 15rem;
  border-radius: 3rem;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: bolder;
  color: black;
  font-size: 2rem;
}

.dice2 {
  border: 2px solid red;
  height: 15rem;
  margin: 1rem;
  width: 15rem;
  border-radius: 3rem;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: bolder;
  color: black;
  font-size: 2rem;
}

.d1 {
  background-image: url("images/dice1.png");
}
.d2 {
  background-image: url("images/dice2.png");
}
.d3 {
  background-image: url("images/dice3.png");
}
.d4 {
  background-image: url("images/dice4.png");
}
.d5 {
  background-image: url("images/dice5.png");
}
.d6 {
  background-image: url("images/dice6.png");
}

.hide {
  display: none;
}